<p class="lead">
	The company description of your business plan describes the vision and direction of the company so potential lenders and partners can develop an accurate impression about who you are.1 A good company description should succinctly outline key details while conveying your passion for the mission.

	Here's what you need to know to write an effective company description for your small business.

	Key Takeaways
	A company description is an overview of the company's plan, vision, and relationships.
	These documents typically include the company's name, business structure, mission statement, and an overview of the target market.
	A good company description is clear and concise, and you can leave out many of the specifics that your business plan covers elsewhere.
</p>
<p class="lead">
	The company description of your business plan describes the vision and direction of the company so potential lenders and partners can develop an accurate impression about who you are.1 A good company description should succinctly outline key details while conveying your passion for the mission.

	Here's what you need to know to write an effective company description for your small business.

	Key Takeaways
	A company description is an overview of the company's plan, vision, and relationships.
	These documents typically include the company's name, business structure, mission statement, and an overview of the target market.
	A good company description is clear and concise, and you can leave out many of the specifics that your business plan covers elsewhere.
</p>
